.App {
  text-align: center;
}

.app-logo {
  height: 200px;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo infinite 5s linear;
  }
}

@keyframes app-logo {
    0% { transform: translateX(-200%) rotate(-30deg); }
    35% { transform: translateX(10%) rotate(5deg); }
    45% { transform: translateX(0%) rotate(0deg); }
    65% { transform: translateX(0%) rotate(0deg); }
    80% { transform: translateX(100%) rotate(-15deg) }
    100% { transform: translateX(200%) rotate(-30deg); }
}

.home-page {
  background-image: linear-gradient(to top, rgb(34,51,200), white);
}

.main-menu {
  border-radius: 0;
}

.list-item {
  border-color: darkgrey;
}